<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/public/custom.css}"/>      
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta charset="UTF-8" />

        <title>Hello world</title>
    </head>
    <body>
        <div class="container">
            <nav th:fragment="navi" class="navbar navbar-expand-sm navbar-light">
                <a class="navbar-brand" href="#"></a>
                <ul class="navbar-nav">

                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/login"><button class="btn btn-light">Log in</button></a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/registration"><button class="btn btn-light">Sign up</button></a>
                    </li>


                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <input type="hidden" value="Log Out"/>
                            <button type="submit" class="btn btn-light">Log Out</button>
                        </form>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/profile"><button class="btn btn-light">My wall</button></a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/seek"><button class="btn btn-light">Seek</button></a>
                    </li>
                </ul>
            </nav>
        </div>

        <div th:fragment="messageCenter" class="card">
            <div class="card-body">
                <ul>
                    <li th:if="${#lists.isEmpty(messages)}">
                        No messages yet.
                    </li>
                    <li th:each="message : ${messages}">
                        <small th:text="${{message.datetime}}">date</small> - <a th:href="@{/profiles/{id}(id=${message.accountto.username})}"><small th:text="${{message.accountto.name}}">name</small></a>
                        <p th:text="${message.message}">msg</p> 
                    </li>
                </ul>
            </div>
        </div>

        <div th:fragment="profileBox" class="card">
            <div class="card-body">
                <h4 th:text="${account.name}">name</h4>
                <img th:unless="${icon}" src="/icon.png" alt="profile image" width="200" height="200"/>
                <img th:if="${icon}" th:src="@{/profiles/{username}/pics/{id}/content(username=${account.username}, id=${icon.id})}" alt="profile image" width="200" height="200"/>
            </div>
        </div>

    </body>
</html>