<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/custom.css"/>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta charset="UTF-8" />

        <title>Twiitser</title>
    </head>
    <body>
        <div class="container">  
            <div th:replace="fragments/layout :: navi"></div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="headers">
                        Welcome to Twiitser!<img src="/favicon.ico"/>
                    </div>

                    <ul sec:authorize="!isAuthenticated()">
                        <li>Sign up or log in and you are able to:</li>
                        <li>&nbsp;</li>
                        <li>Share photos with friends</li>
                        <li>Follow friends or make new ones</li>
                        <li>Share your thoughts</li>
                    </ul>
                    <ul sec:authorize="isAuthenticated()">
                        <li>Start by seeking your friends</li>
                        <li>or updating your profile!</li>
                    </ul>
                </div>
            </div>
        </div>

    </body>
</html>


