<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/custom.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta charset="UTF-8" />
        <title th:text="@{{username}'s pics(username=${account.name})}">Pics</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="fragments/layout :: navi"></div>
        </div>
        <div class="container">
            <a th:if="${isOwner}" th:href="@{/profile}"><span>My wall</span></a> 
            <span th:if="${isOwner}">My pictures</span>
            <a th:unless="${isOwner}" th:href="@{/profiles/{id}(id=${account.username})}"><span th:text="@{{name}'s wall (name=${account.name})}">Names wall</span></a> 
            <span th:unless="${isOwner}" th:text="@{{name}'s pictures (name=${account.name})}" >Names pictures</span>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <ul>
                                Pictures:
                            </ul>

                            <ul th:if="${#lists.isEmpty(images) and (isFollower or isOwner)}">
                                No pictures yet.
                            </ul>

                            <ul class="ul-small" th:if="${isFollower or isOwner}" th:each="img : ${images}">
                                <li>
                                    <div class="card">
                                        <div class="card-body">
                                            <form id="likeform" action="/like" method="post">
                                                <div>
                                                    <input type="hidden" value="img" name="what"/>
                                                    <input type="hidden" th:value="${img.id}" name="id"/>
                                                    <span class="span-small" th:text="${img.likes.size()}">likesCount</span>&nbsp;<input type="image" src="/like.png" alt="Submit" />
                                                </div>
                                            </form>
                                            <img th:src="@{/profiles/{username}/pics/{id}/content(username=${account.username}, id=${img.id})}" th:alt="${img.text}"/>
                                            <br/>
                                            <span class="span small" th:text="${img.text}">description</span>
                                            <form id="delform" th:if="${isOwner}" th:action="@{/profiles/{username}/delpic(username=${account.username})}" method="post">
                                                <input type="hidden" th:value="${img.id}" name="id"/>
                                                <button class="btn btn-outline-danger btn-sm" type="submit">Delete</button>
                                            </form>

                                            <div th:fragment="commentBox">

                                                <ul th:unless="${#lists.isEmpty(img.comments)}" th:each="comm : ${#numbers.sequence(T(Math).max(0, img.comments.size()-10), img.comments.size()-1)}">
                                                    <li>
                                                        <div class="row align-items-center">
                                                            <small style="color:gray;" th:text="${{img.comments[comm].datetime}}">date</small> &nbsp;
                                                            <a th:href="@{/profiles/{username}(username=${img.comments[comm].account.username})}">
                                                                <small th:text="${img.comments[comm].account.name}">name</small>
                                                            </a>
                                                            <form id="commentlikeform" action="/like" method="post">
                                                                <div>
                                                                    <input type="hidden" value="comm" name="what"/>
                                                                    <input type="hidden" th:value="${img.comments[comm].id}" name="id"/>
                                                                    <small th:text="${img.comments[comm].likes.size()}">likesCount</small>&nbsp;<input type="image" src="/like.png" alt="Submit" />
                                                                </div>
                                                            </form>
                                                        </div>

                                                        <p style="color:gray;font-size:15px;" th:text="${img.comments[comm].comment}">commenttext</p> 
                                                    </li>
                                                </ul>

                                                <form id="commentform" th:action="@{/profiles/{username}/pics/{id}(username=${account.username}, id=${img.id})}" method="POST">
                                                    <span class="span-small" style="color:gray;">Comment:</span>
                                                    <input id="commenttext" name="comment"/> 
                                                    <button class="btn btn-light btn-sm" type="submit">Send</button>
                                                </form> 
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>&nbsp;</li>
                            </ul>

                            <ul th:unless="${isFollower or isOwner}">
                                Start to follow to see pictures.
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
