<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/custom.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta charset="UTF-8" />
        <title th:text="@{{username}'s pics(username=${account.name})}">Pics</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="fragments/layout :: navi"></div>
        </div>

        <div class="card">
            <div class="card-body">

                <ul>
                    Pictures:
                </ul>

                <ul th:if="${#lists.isEmpty(images) and (isFollower or isOwner)}">
                    No pictures yet.
                </ul>

                <ul th:if="${isFollower or isOwner}" th:each="img : ${images}">
                    <li th:if="${#lists.isEmpty(images)}">

                    </li>
                    <li>
                        <img th:src="@{/profiles/{username}/pics/{id}/content(username=${account.username}, id=${img.id})}" th:alt="${img.text}"/>
                        <br/>
                        <small th:text="${img.text}">description</small>
                        <form th:if="${isOwner}" th:action="@{/profiles/{username}/delpic(username=${account.username})}" method="post">
                            <input type="hidden" th:value="${img.id}" name="id"/>
                            <button class="btn btn-outline-danger btn-sm" type="submit">Delete</button>
                        </form>
                    </li>
                    <li>&nbsp;</li>
                </ul>

                <ul th:unless="${isFollower or isOwner}">
                    Start to follow to see pictures.
                </ul>
            </div>
        </div>

    </body>
</html>
