

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <!--        <link rel="stylesheet" th:href="@{/public/custom.css}"/>  -->
        <link rel="stylesheet" href="custom.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta charset="UTF-8" />

        <title>My wall</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="fragments/layout :: navi"></div>
        </div>
        <div class="container"><span>My wall</span> <a th:href="@{/profiles/{id}/pics(id=${account.username})}"><span>My pictures</span></a>

            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col"> 
                            <form th:action="@{/messages}" method="POST">
                                Write on the wall:
                                <input name="message"/> 
                                <input type="hidden" th:if="${#strings.contains(#httpServletRequest.requestURI, 'profiles')}" name="fromSite" value="public"/>
                                <input type="hidden" th:unless="${#strings.contains(#httpServletRequest.requestURI, 'profiles')}" name="fromSite" value="own"/>
                                <input type="hidden" name="username" th:value="${account.username}"/><button type="submit">Send</button>
                            </form> 
                            <div th:replace="fragments/layout :: messageCenter"></div>
                        </div>

                        <div class="col"></div>
                        <div class="col">

                            <div th:replace="fragments/layout :: profileBox"></div>

                            <div class="card">
                                <div class="card-body">
                                    <h4>
                                        People you follow:
                                    </h4>
                                    <ul th:if="${#lists.isEmpty(account.following)}">
                                        You are not following anyone.
                                    </ul>
                                    <ul>
                                        <li th:each="account : ${account.following}">
                                            <a th:href="@{/profiles/{id}(id=${account.username})}"><span th:text="${account.name}">name</span></a>
                                        </li>
                                    </ul>

                                    <h4>
                                        Followers:
                                    </h4>
                                    <ul th:if="${#lists.isEmpty(account.followers)}">
                                        You have no followers.
                                    </ul>
                                    <ul>
                                        <li th:each="account : ${account.followers}">
                                            <a th:href="@{/profiles/{id}(id=${account.username})}"><span th:text="${account.name}">name</span></a>
                                        </li>
                                    </ul>
                                </div></div>

                            <div class="card">
                                <div class="card-body">
                                    <h4>Add new picture</h4>

                                    <form method="POST" th:action="@{/profiles/{username}/pics(username=${account.username})}" enctype="multipart/form-data">
                                        <div> <input type="checkbox" id="icon" name="icon"/>
                                            <input type="hidden" name="icon" value="false"/>
                                            <label for="icon">Set as profile picture</label>
                                            <input type="file" name="file" id="file"/>
                                            <input type="submit" value="Add!"/>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>


