<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/public/style.css}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta charset="UTF-8" />

        <title>Hello world</title>
    </head>
    <body class="hold-transition register-page">
        <div class="register-box">
            <div class="card">
                <div class="card-body register-card-body">
                    <p class="login-box-msg">Register a new account</p>

                    <form action="#" th:action="@{/registration}" th:object="${account}" method="post">

                        <div class="input-group mb-3">
                            <input type="text" class="form-control"  th:field="*{name}"placeholder="Name"/>
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name MEssage</div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control"  th:field="*{username}" placeholder="Username" />
                            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Message</div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" th:field="*{password}" placeholder="Password"/>
                            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Message</div>

                            <button type="submit">Submit</button>
                    </form>
                </div>
                <!-- /.form-box -->
            </div><!-- /.card -->
        </div>

    </body>
</html>

